$colors: (
    // navBar
        alto: #D3D3D3, mirage: #1B2531, purple: #A600C0,
        curiosBlue: #27A1DA,
    // content
        deepSeaGreen: #0B4B68, deepSeaGreen56: rgba(11, 75, 104, 0.56),
        mirage80: rgba(27, 37, 49, 0.8), mirage90: rgba(27, 37, 49, 0.9),
        mirage64: rgba(27, 37, 49, 0.64),mirage74: rgba(27, 37, 49, 0.74),
        mirage25: rgba(27, 37, 49, 0.25),
    // borders and accordion
        silverSand: #BDBFC3, concrete: #F3F3F3, mercury: #E2E2E2,
    // footer
        nobel: #B7B7B7,
    // stars
        oldGold: #D4AF37, silver: #C4C4C4,
    // space
        white: #FFFFFF
);

@function color($name) {
    @return map_get($colors, $name);
}

$pointer: pointer;
$navBarHeight: 3.5em;
$webkitRadius : 10em;
$borderRadius: 10em;
$font16: 1em;

$desktop: 800px;
$monitor: 1192px;

@mixin desktop {
    @media (min-width: #{$desktop}) {
        @content;
    }
}

@mixin monitor {
    @media (max-width: #{$monitor}) {
        @content;
    }
}


html {
    box-sizing: border-box;
    -ms-overflow-style: scrollbar;
    overflow-x: hidden;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Nunito", sans-serif;
    width: 100%;
    color: color(mirage);
    fill: color(mirage);
}

#nav-bar {
    background-color: color(alto);
    height: $navBarHeight;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    .logo {
        display: inline-block; // can't apply max width without inline-block or block
        max-width: 90px; // propagate to all logos (avoids large width on IE)
        cursor: $pointer;
        margin: 5px 0;
    }
    .logo span svg:hover {
        transform: scale(1.1);
    }

    button {
        -webkit-border-radius: $webkitRadius;
        border-radius: $borderRadius;
        background-color: color(concrete);
        color: color(purple);
        border: 2px solid color(purple);
        padding: .5em 1.5em;
        cursor: $pointer;
        font-size: $font16;
        font-weight: 600;
        margin: 8px 0;
    }

    button:hover {
        background-color: color(white);
        transform: scale(1.1);
    }

    .toggle span{
        fill: color(mirage);
        cursor: $pointer;
    }

    .nav {
        display: none;
        font-weight: 300;

        .nav-item {
            display: flex;
            flex-direction: column;
            padding: 15px 0 0;
            min-width: fit-content;
            cursor: $pointer;
            text-decoration: none;
            color: color(mirage);
            margin: 0 7px;
            height: available;
            .text {
                margin: 5px 10px 0;
            }

            .active {
                background-color: black;
                height: 5px;
                margin-top: 9px;
            }
        }

        .nav-item:hover {
            font-weight: bold;
            color: color(deepSeaGreen);
            text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        }
    }

    @include desktop {
        .nav {
            display: flex;
            justify-content: space-evenly;
        }

        .nav-item.active {
            color: color(deepSeaGreen);
            font-weight: bold;
        }
    }

    .toggle {
        @include desktop {
            display: none;
        }
    }

    .toggle span svg{
        cursor: $pointer;
    }
    .toggle span svg:hover {
        transform: scale(1.1);
    }
}

.hidden {
    display: none;
}

main {
    margin-top: $navBarHeight;
    padding-top: .5rem;
    display: block;
}

header {
    .landing-image {
        max-width: 96%;
        height: auto;
        margin: 0 2.5vw 2vw;
    }

    #slogan {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 1vw 0 2vw 0;
        padding: 0 10px;

        .idea {
            display: inline-block;
        }

        .idea span svg{
            fill: color(curiosBlue);
        }

        .idea span svg:hover {
            transform: scale(1.1);
        }

        .text {
            margin-left: 2vw;
            color: color(curiosBlue);
            font-size: 4.5vw;
            font-weight: bold;
        }
    }
}
