.slide-container {
    display: flex;
    width: 96%;
    margin: 4vw auto;
}

.slide-container > div {
    width: 33%;
}

.slide-image {
    width: auto;
    height: 100%;
}

#greeting {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2vw;
    text-align: center;

    h2 {
        text-transform: uppercase;
        font-size: 2.5vw;
    }

    p {
        font-size: 1.5vw;
        font-weight: 300;
    }
}

.services {
    padding: .7vw 1.5vw;
    font-size: 1.25vw;
}


