$colors: (
    // navBar
        alabaster: #FAFAFA, mirage: #1B2531, purple: #A600C0,
        curiosBlue: #27A1DA,
    // content
        deepSeaGreen: #0B4B68, deepSeaGreen56: rgba(11, 75, 104, 0.56),
        mirage80: rgba(27, 37, 49, 0.8), mirage90: rgba(27, 37, 49, 0.9),
        mirage64: rgba(27, 37, 49, 0.64),mirage74: rgba(27, 37, 49, 0.74),
        mirage25: rgba(27, 37, 49, 0.25), gallery: #ECECEC,
    // borders and accordion
        silverSand: #BDBFC3, concrete: #F3F3F3, mercury: #E2E2E2,
    // footer
        nobel: #B7B7B7,
    // stars
        oldGold: #D4AF37, silver: #C4C4C4,
    // space
        white: #FFFFFF
);

@function color($name) {
    @return map_get($colors, $name);
}

.review {
    margin: 2vw;

    .reviewer, .desc {
        color: color(mirage);
        font-size: 1.75vw;
    }

    .reviewer {
        font-weight: bold;
    }

    .stars {
        margin: 2vw 0;

        .gold span {
            color: color(oldGold);
        }

        .grey span {
            color: color(silver);
        }

        .star {
            margin-right: 1vw;
        }
    }

    .comment {
        display: flex;
        color: color(mirage);
        margin-bottom: 20px;
        font-size: 1.5vw;
        font-weight: 300;
    }
    .text {
        margin-top: 2vw;
        margin-left: 1vw;
    }
    .quotation {
        font-weight: bold;
        font-size: 3.75vw;
    }
}

.review-image {
    height: 100%;
    width: 130%;
    border-radius: 5px;
}

.react-reveal {
    display: flex;
}

#reviews-cont {
    position: relative;
    overflow: hidden;
    padding: 3vw;
    margin: 0 auto;
    width: 80%;
    height: fit-content;
}

#children {
    position: relative;
    height: 30vw;
}

#dots {
    text-align: center;
    width: auto;
    z-index: 100;
}

#dot {
    font-size: 1.5em;
    cursor: pointer;
    text-shadow: 1px 1px 1px #fff;
    user-select: none;
}
