$colors: (
    // navBar
        alabaster: #FAFAFA, mirage: #1B2531, purple: #A600C0,
        curiosBlue: #27A1DA,
    // content
        deepSeaGreen: #0B4B68, deepSeaGreen56: rgba(11, 75, 104, 0.56),
        mirage80: rgba(27, 37, 49, 0.8), mirage90: rgba(27, 37, 49, 0.9),
        mirage64: rgba(27, 37, 49, 0.64),mirage74: rgba(27, 37, 49, 0.74),
        mirage25: rgba(27, 37, 49, 0.25), gallery: #ECECEC,
    // borders and accordion
        silverSand: #BDBFC3, concrete: #F3F3F3, mercury: #E2E2E2,
    // footer
        nobel: #B7B7B7,
    // stars
        oldGold: #D4AF37, silver: #C4C4C4,
    // space
        white: #FFFFFF
);

@function color($name) {
    @return map_get($colors, $name);
}

$desktop: 800px;
$monitor: 1192px;

@mixin desktop {
    @media (max-width: #{$desktop}) {
        @content;
    }
}

.review {
    margin: auto 2vw;
    width: 50%;

    @include desktop {
        width: 100%;
        margin: 2vw;
    }

    .reviewer, .desc {
        color: color(mirage);
        font-size: 1.75vw;
        @include desktop {
            font-size: 3.25vw;
        }
    }

    .reviewer {
        font-weight: bold;
    }

    .stars {
        margin: 2vw 0;

        .gold span {
            color: color(oldGold);
        }

        .grey span {
            color: color(silver);
        }

        .star {
            margin-right: 1vw;
        }
    }

    .comment {
        display: flex;
        color: color(mirage);
        margin-bottom: 20px;
        font-size: 1.5vw;
        font-weight: 300;
        margin-top: .5vw;
        @include desktop {
            font-size: 3vw;
        }
    }
    .text {
        margin-top: 2vw;
        margin-left: 1vw;
    }
    .quotation {
        font-weight: bold;
        font-size: 3.75vw;
        @include desktop {
            font-size: 7vw;
        }
    }
}

.review-image {
    height: auto;
    width: 100%;
    border-radius: 5px;
}

.image-container {
    width: 50%;
    padding: 1vw 1vw;
    @include desktop {
        width: 100%;
    }
}

.react-reveal {
    display: flex;
    @include desktop {
        flex-direction: column;
    }
}

#reviews-cont {
    position: relative;
    overflow: hidden;
    padding: 0 3vw;
    margin: 0 auto;
    width: 80%;
    height: fit-content;
}

#children {
    position: relative;
    height: 30vw;

    @include desktop {
        height: 100vw;
    }
}

#dots {
    text-align: center;
    width: auto;
    z-index: 100;
}

#dot {
    font-size: 1.5em;
    cursor: pointer;
    text-shadow: 1px 1px 1px #fff;
    user-select: none;
}

#reviews {
    margin-bottom: 8vw;
    padding-top: 3vw;

    h4 {
        margin-left: 12vw;
    }
}
