$colors: (
    // navBar
        alabaster: #FAFAFA, mirage: #1B2531, purple: #A600C0,
        curiosBlue: #27A1DA,
    // content
        deepSeaGreen: #0B4B68, deepSeaGreen56: rgba(11, 75, 104, 0.56),
        mirage80: rgba(27, 37, 49, 0.8), mirage90: rgba(27, 37, 49, 0.9),
        mirage64: rgba(27, 37, 49, 0.64),mirage74: rgba(27, 37, 49, 0.74),
        mirage25: rgba(27, 37, 49, 0.25), gallery: #ECECEC,
    // borders and accordion
        silverSand: #BDBFC3, concrete: #F3F3F3, mercury: #E2E2E2,
    // footer
        nobel: #B7B7B7,
    // stars
        oldGold: #D4AF37, silver: #C4C4C4,
    // space
        white: #FFFFFF
);

@function color($name) {
    @return map_get($colors, $name);
}

$desktop: 800px;

@mixin desktop {
    @media (min-width: #{$desktop}) {
        @content;
    }
}


#welcome {
    background-color: #EEEEEE;
    padding: 6vw;
    //margin-top: 3rem;

    .sell, #emphasis {
        text-align: center;
    }

    .sell, #emphasis {

        @include desktop {
            font-size: 2vw;
        }
    }

    .sell, .desc {
        font-weight: 300;
    }

    .benefit {
        position: relative;
        @include desktop {
            width: 31%;
            margin: 0 auto 3vw;
        }
        padding: 0 2vw;
        border: 1px solid #C4C4C4;
        box-sizing: border-box;
        box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        margin-bottom: 4vw;
        background-color: #ffffff;
    }

    .benefit:hover {
        transform: scale(1.1);
        transition: all 1s ease-in-out;
    }

    .benefit::after {
        background: #27A1DA;
        border-radius: 5px 5px 0 0;
        content: "";
        display: block;
        max-height: 3vw;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 5%;
        z-index: 5;
    }

    .title {
        text-transform: capitalize;
    }

    #emphasis {
        font-weight: bold;
        margin: 0 0 4vw;
        text-transform: capitalize;
    }

    .row {
        display: flex;
        flex-direction: column;

        @include desktop {
            flex-direction: row;
        }
    }

    .section-title {
        text-align: center;
        margin-left: 0;
    }

}
